//variables
$red:rgb(160, 10, 10);
$yellow:rgb(183, 183, 1);

.messages{
    position: absolute;
    top: 0;left: 0;right: 0;
    z-index: 9999999999;
    animation: display_message 3s;
    opacity: 0;

    h3{
        padding: 20px;
        text-align: center;
        background-color: rgb(8, 107, 8);
        color: white;
    }
}

.sliders{
    width: 100%;
    height: calc(100vh - 50px);
    overflow: hidden;

    .slide{
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;


        .slide-text{
            z-index: 2;
            width: 90%;
            margin: auto;
            color: white;

            h2{
                font-size: 35px;
                margin-bottom: 15px;
                line-height: 2.5rem;
            }
            p{
                font-size: 1.2rem;
            }
            button{
                padding: 15px 35px;
                margin-top: 10px;
                border: none;
                font-weight: bolder;
                background-color: $yellow;
                transition: .3s ;
                font-size: 15px;
                a{
                    color: $red;
                }

                &:hover{
                    background-color: $red;
                    a{
                        color:white;
                    }
                }
            }
        }

        .slide-img{
            position: absolute;
            top: 0;left: 0;right: 0;bottom: 0;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .layer{
            position: absolute;
            top: 0;left: 0;right: 0;bottom: 0;
            background-color: rgba(0,0,0,.5);
        }
    }
}

//home section media queries
@media (min-width:800px){
    .sliders .slide .slide-text h2{
        font-size: 45px;
        margin-bottom: 22px;
    }
}
// home section styling ends



// popular section styling starts
.popular-recipes{
    width: 100%;
    padding: 25px 15px;
    margin: 30px 0;

    &>h2{
        font-size: 1.8rem;
        text-align: center;
        color: $red;
    }

    small{
        display: block;
        font-weight: bolder;
        margin-bottom: 10px;
        text-align: center;
    }
}
// popular section styling ends


// wrirte a recipe section starts
.write-a-recipe{
    width: 100%;
    height: 70vh;
    position: relative;
    margin-top: 60px;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .write-layer{
        position: absolute;
        top: 0;left: 0;right: 0;bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,.8);
        color: white;

        h2{
            font-size: 2rem;
        }
    }
    button{
        padding: 15px 35px;
        margin-top: 20px;
        border: none;
        font-weight: bolder;
        background-color: $yellow;
        transition: .3s ;
        font-size: 15px;
        a{
            color: $red;
        }

        &:hover{
            background-color: $red;
            a{
                color:white;
            }
        }
    }
}
// write a recipe section ends

// animations
@keyframes display_message {
    0%{
        opacity: 0;
    }
    25%{
        opacity: .5;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: .5;
    }
    100%{
        opacity: 0;
        display: none;
    }
}