{% extends 'home.html' %}
{% load static %}
{%load embed_video_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
    {%block meta%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%endblock meta%}

    {%block styles%}
    <link rel="stylesheet" href="{% static 'styles/single-recipe.css'%}">
    {%endblock styles%}

    {%block title%}
    <title>Recipe-Expo | {{recipe.recipe_name}}</title>
    {%endblock title%}
</head>
<body>
    {%block content%}
    <br>
    <main>
        <div class="single-recipe-wrapper">
            <div class="recipe-details">
                <h1 class="recipe-name">{{recipe.recipe_name}}</h1>
                <h4 class=" faint">{{recipe.recipe_info}}</h4>
                <button>{{recipe.category}}</button>
                {%if recipe.user == user%}
                <button><a href=" {%url 'update_recipe' recipe.slug recipe.id %} " style="color: white;">Update Recipe</a></button>
                {%else%}
                    {%if in_recipe_book%}
                        <form action=" {% url 'remove_recipe' %} " method="post">
                            {%csrf_token%}
                            <input type="hidden" value="{{recipe.id}}" name = "recipe_id">
                            <button>Remove From Recipe Book</button>
                        </form>
                    {%else%}
                        <form action=" {% url 'add_to_recipe_book' %} " method="post">
                            {%csrf_token%}
                            <input type="hidden" value="{{recipe.id}}" name = "recipe_id">
                            <button>Add To Recipe Book</button>
                        </form>
                    {%endif%}
                {%endif%}
                <button> <i class="fa fa-heart"></i> {{recipe.num_of_likes}}</button>
            </div>
            <br>
            <hr>
            <div class="recipe-featured-image">
                <img src="{{recipe.recipe_image.url}}" alt="">
            </div>
            <div class="preparation-info">
                <div class="time-field">
                   <div class="time">
                       <h3><span>Prep Time:</span> {{recipe.preparation_time}} mins</h3>
                   </div>
                   <div class="time">
                       <h3><span>Cooking Time:</span> {{recipe.cooking_time}} mins</h3>
                   </div>
                   <div class="time">
                       <h3><span>Total Time:</span> {{total_time}} mins</h3>
                   </div> 
                </div>
                <h3><span>Servings</span>: {{recipe.serving}}</h3>
            </div>

            <br><br>
            <div class="">
                {{recipe.recipe_preparation|safe}}
            </div>


            <!-- youtube url -->
            <div class="youtube-video-wrapper">
                <br>
                <div class="">{% video recipe.youtube_video_url 'small' %}</div>
            </div>


            <!-- likes section -->

            {% if liked_recipe %}
            {% else %}
                <section class="likes">
                    <br><br>
                    <form action=" {% url 'like_recipe' recipe.id%} " method="post">
                        {% csrf_token %}
                        <button type="submit"><i class="fa fa-heart"></i> LIKE</button>
                    </form>
                </section>
            {% endif %}

            <div class="share-links-wrapper">
                <h4>SHARE: </h4>
                <div class="links">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=127.0.0.1:8000/recipes/{{recipe.slug}}/{{recipe.id}}" class="share_link" title = "{{recipe.recipe_name}}" target="blank"><i class="fa fa-facebook-square"></i></a>
                    <a href="" class="share_link"><i class="fa fa-whatsapp"></i></a>
                    <a href="" class="share_link"><i class="fa fa-instagram"></i></a>
                    <a href="" class="share_link"><i class="fa fa-twitter"></i></a>
                </div>
            </div>

            <!-- comments -->
            <section class="comments">
                <hr> <br>
                <h3>Leave A Review</h3>
                {%if user.is_authenticated%}
                    <form action="" method = "POST">
                        {%csrf_token%}
                        <input type="text" placeholder="Leave A Review On This Recipe" name="comment_message">
                        <input type="submit" value="POST">
                    </form>
                {%else%}
                <p> Pls <strong><a href=" {% url 'login' %} " style="color: #a00a0a;">Login </a></strong> or <strong><a href=" {% url 'sign_up' %} " style="color: #a00a0a;">Sign Up</a></strong> To Leave A Review On This Recipe</p>
                {%endif%}

                <div class="other-comments">
                    <h3>Reviews({{num_of_comments}})</h3>
                    {%for comment in recipe_comments%}
                        <div class="comment" style="background-color: rgb(230,230,230);">
                            <h4 style="color: rgb(100,100,100);">@{{comment.user.username}}</h4>
                            <p style="margin: 8px 0;">{{comment.message}}</p>
                            <h5 style="color: rgb(100,100,100);">{{comment.created|timesince}} ago</h5>
                        </div>
                    {%endfor%}
                </div>
            </section>
        </div>
    </main>
    {%endblock content%}
</body>
</html>