.faint {
  color: #969696;
}

.single-recipe-wrapper {
  padding: 20px 10px;
  width: 100%;
  margin: auto;
  max-width: 800px;
}

.recipe-details form {
  display: inline-block;
  margin-left: 5px;
}

.recipe-details button {
  margin-top: 10px;
  background: #a00a0a;
  color: white;
  padding: 8px 10px;
  border: none;
  -webkit-transition: .4s;
  transition: .4s;
}

.recipe-details button:last-child {
  background: #b7b701;
  cursor: pointer;
}

.recipe-details button:hover {
  opacity: .8;
}

.recipe-featured-image {
  width: 100%;
  max-width: 800px;
  height: 700px;
  margin-top: 20px;
}

.recipe-featured-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.preparation-info {
  width: 100%;
}

.preparation-info span {
  color: #a00a0a;
}

.preparation-info .time-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.ingredients {
  margin-top: 30px;
}

.ingredients ul {
  padding: 20px;
}

.ingredients ul li {
  list-style: disc;
  margin: 5px 0;
  font-size: 1.5rem;
}

.method {
  margin-top: 30px;
}

.likes {
  width: 100%;
  text-align: center;
}

.likes form button {
  padding: 15px 45px;
  font-weight: bolder;
  background-color: #a00a0a;
  color: white;
  border: 2px solid #a00a0a;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.likes form button:hover {
  background-color: white;
  color: #a00a0a;
}

.share-links-wrapper {
  margin-top: 20px;
  padding: 15px;
}

.share-links-wrapper h4 {
  font-weight: bolder;
  text-align: center;
}

.share-links-wrapper .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 7px;
}

.share-links-wrapper a {
  padding: 1px 5px;
  border-radius: 3px;
  background-color: #a00a0a;
  margin-right: 10px;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: bold;
  border: 1px solid #a00a0a;
  font-size: 1.3rem;
}

.share-links-wrapper a:hover {
  background-color: white;
  color: #a00a0a;
}

.comments {
  margin-top: 30px;
}

.comments h3 {
  margin-bottom: 8px;
}

.comments form {
  width: 100%;
}

.comments form input[type=text] {
  width: 70%;
  padding: 8px 10px;
  border: 1px solid #a00a0a;
}

.comments form input[type=submit] {
  padding: 9px 11px;
  background: #a00a0a;
  color: white;
  border: none;
}

.comments .other-comments {
  width: 100%;
  margin-top: 30px;
}

.comments .other-comments h3 {
  margin-bottom: 10px;
}

.comments .other-comments .comment {
  overflow-wrap: break-word;
  padding: 10px;
  border: 1px solid black;
  margin: 8px 0;
}
/*# sourceMappingURL=single-recipe.css.map */