{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    {%block meta%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%endblock meta%}

    <!-- custom styles starts -->
    <link rel="stylesheet" href="{% static 'styles/general.css'%}">
    {%block styles%}
    <link rel="stylesheet" href="{% static 'styles/recipe-book.css'%}">
    <link rel="stylesheet" href="{% static 'styles/home.css'%}">
    {%endblock styles%}
    <!-- custom styles ends -->

    <!-- google font links starts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700&family=Nunito:ital,wght@0,300;0,400;1,200;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <!-- google font links ends -->

    <!-- custom script starts-->
    <script src="{% static 'scripts/home.js'%}" defer></script>
    {%block script%}
    
    {%endblock script%}
    <!-- custoim script ends -->

    <!-- font awesome link starts -->
    <script src="https://kit.fontawesome.com/9c3d7ef638.js" crossorigin="anonymous"></script>
    <!-- font awesome link ends -->

    {%block title%}
    <title>Recipe-Expo | Welcome To Your Favourite Recipe Site</title>
    {%endblock title%}
</head>
<body>
    <!-- header starts -->
    <header>
        <form action="{% url 'search_recipe' %}" id="mobile-search" method="post">
            {% csrf_token %}
            <input type="search" name="search_input" id="" placeholder="Search For Recipes And Recipe Categories">
        </form>
        <h1><a href=" {% url 'home' %} "><i class="fa fa-utensils"></i>Recipe-Expo</a></h1>

        <nav class="navbar">
            <!-- <a href=" {% url 'home' %} ">Home</a> -->
            <a href=" {% url 'create_recipe' %} ">Write A Recipe</a>
            <a href=" {% url 'recipe_book' %} ">Recipe book</a>
            {%if user.is_authenticated%}
            <a href=" {% url 'logout'%} ">Logout</a>
            {%else%}
            <a href=" {% url 'sign_up'%} ">Sign Up</a>
            <a href=" {% url 'login' %} ">Login</a>
            {%endif%}
        </nav>

        
            <form action=" {% url 'search_recipe' %} " method="post" class="search-bar"> 
                {%csrf_token%}
                <input type="search" name="search_input" placeholder="Search For Recipes And Recipe Categories">
                <button type="submit">
                    <i class="fa fa-search"></i></button>
            </form>
        

        <!-- icons -->
        <div class="icons">
            <h4 onclick="toggle_menu()" id="menu-btn"><i class="fa fa-bars"></i></h4>
            <h4 onclick="show_mobile_search_bar()"><i class="fa fa-search"></i></h4>
        </div>
    </header>
    <!-- header ends -->
    {%block content%}

    <!-- home section starts -->
    <section class="home-section">
        <div class="sliders">
            {% for recipe in featured_recipes %}
            <div class="slide">
                <div class="slide-text">
                    <h2>{{recipe.recipe_name}}</h2>
                    <p>{{recipe.recipe_info|truncatewords:10}}</p>
                    <button><a href="{{recipe.get_absolute_url}}  ">Recipe</a></button>
                </div>
                <div class="slide-img">
                    <img src="{{recipe.recipe_image.url}}" alt="" srcset="">
                </div>
                <div class="layer">

                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- home section ends -->



    <!-- popular Recipes starts -->
    <section class="popular-recipes">
        <p style="text-align: center;">Recipes</p>
        <h2>Featured Recipes</h2>
        <div class="recipes-wrapper">
            {%for recipe in recipes%}
            <div class="recipe">
                <div class="recipe-img">
                    <img src="{{recipe.recipe_image.url}}" alt="{{recipe.recipe_name}} recipe image">
                </div>
                <div class="recipe-info">
                    <h3>{{recipe.category}}</h3>
                    <h3>{{recipe.recipe_name}}</h3>
                    <h4><span><i class="fa fa-clock"></i> </span>{{recipe.preparation_time}}Mins</h4>
                        <button class="special-btn"><a href=" {{recipe.get_absolute_url}} ">See Recipe</a></button>
                </div>
            </div>
            {%endfor%}
        </div>
    </section>
    <!-- popular Recipes ends -->



    <!-- drinks recipes starts -->
     <section class="popular-recipes">
        <h2><i class="fa fa-martini-glass"></i> Drinks</h2>
        <div class="recipes-wrapper">

            {%for recipe in drinks%}
                <div class="recipe">
                    <div class="recipe-img">
                        <img src="{{recipe.recipe_image.url}}" alt="{{recipe.recipe_name}} recipe image">
                    </div>
                    <div class="recipe-info">
                        <h3>{{recipe.category}}</h3>
                        <h3>{{recipe.recipe_name}}</h3>
                        <h4><span><i class="fa fa-clock"></i></span> 10 Mins</h4>
                            <button class="special-btn"><a href=" {{recipe.get_absolute_url}} ">See Recipe</a></button>
                    </div>
                </div>
            {%endfor%}
        </div>
    </section>
    <!-- drinks recipes ends -->



    <!-- pastries recipes starts -->
    <section class="popular-recipes">
        <h2>Pastries</h2>
        <div class="recipes-wrapper">
            {%for recipe in pastries%}
                <div class="recipe">
                    <div class="recipe-img">
                        <img src="{{recipe.recipe_image.url}}" alt="{{recipe.recipe_name}} recipe image">
                    </div>
                    <div class="recipe-info">
                        <h3>{{recipe.category}}</h3>
                        <h3>{{recipe.recipe_name}}</h3>
                        <h4><span><i class="fa fa-clock"></i></span> 10 Mins</h4>
                            <button class="special-btn"><a href=" {{recipe.get_absolute_url}} ">See Recipe</a></button>
                    </div>
                </div>
            {%endfor%}
        </div>
    </section>
    <!--  pastries recipes ends -->


    <!-- healthy and tasty recipes starts -->
    <section class="popular-recipes">
        <h2>Healthy And Tasty</h2>
        <div class="recipes-wrapper">
            {%for recipe in healthy_and_tasty%}
                <div class="recipe">
                    <div class="recipe-img">
                        <img src="{{recipe.recipe_image.url}}" alt="{{recipe.recipe_name}} recipe image">
                    </div>
                    <div class="recipe-info">
                        <h3>{{recipe.category}}</h3>
                        <h3>{{recipe.recipe_name}}</h3>
                        <h4><span><i class="fa fa-clock"></i></span>{{recipe.preparation_time}} Mins</h4>
                            <button class="special-btn"><a href=" {{recipe.get_absolute_url}} ">See Recipe</a></button>
                    </div>
                </div>
            {%endfor%}
        </div>
    </section>
    <!-- healthy and tasty recipes ends -->


    <!-- write a recipe section starts -->
    <section class="write-a-recipe">
        <img src="{% static 'site-images/cocktail.jpg'%}" alt="">
        <div class="write-layer">
            <h2>Have A Recipe In Mind?</h2>
            <button><a href=" {% url 'create_recipe' %} ">Kindly Share</a></button>
        </div>
    </section>
    <!-- write a recipe section ends -->

    {%endblock content%}
    <!-- footer section starts -->
    <footer>
        <div class="footer-inner-wrapper">
            <div class="footer-category">
                <h3>Quick Links</h3>
                <ul>
                    {% if user.is_authenticated == False %}
                    <li><a href=" {% url 'sign_up' %} ">Sign Up</a></li>
                    <li><a href=" {% url 'login' %} ">Login</a></li>
                    {%else%}
                    <li><a href=" {% url 'logout' %} ">Logout</a></li>
                    {% endif %}
                    <li><a href="">About</a></li>
                    <li><a href=" {% url 'create_recipe' %} ">Write A Recipe</a></li>
                </ul>
            </div>
    
            <div class="footer-category">
                <h3>Other Links</h3>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href=" {% url 'recipe_book' %} ">My Recipe Book</a></li>
                    {% endif %}
                    <li><a href=" {% url 'search_recipe' %} ">Search</a></li>
                    <li><a href="">Tech Stack</a></li>
                    <li><a href=" {% url 'api' %} ">API</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="made-with-love">
        <h4>Made With <i class="fa fa-heart"></i> By Odiase Efosa</h4>
    </div>
    <!-- footer section ends -->
</body>
</html>