@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700&family=Nunito:ital,wght@0,300;0,400;1,200;1,400;1,500;1,600&display=swap');

//variables
$red:rgb(160, 10, 10);
$yellow:rgb(183, 183, 1);



*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Nunito', sans-serif;
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
    line-height: 2rem;
}

html{
  font-size: 80%;
}

.special-btn{
    background-color: white;
    a{
        color: #a00a0a;
        transition: .4s;
        width: 100%;
        height: 100%;
        display: block;
    }

    &:hover{
        background-color: #a00a0a;
        a{
            color: white;
        }
    }
}



header {
  background-color: white;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.2em .8em;
    -webkit-box-shadow: 1px 1px 5px black;
            box-shadow: 1px 1px 5px black;
    z-index: 999;
  }
  
  header h1 a {
    color: #a00a0a;
  }

  #mobile-search{
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 10px 0;
    transition: .3s;

    input{
      width: 90%;
      padding: 8px 12px;
      border: 2px solid #a00a0a;
      font-weight: bolder;
      font-size: 1.4rem;
    }
  }
  
  header h4 {
    cursor: pointer;
  }
  
  header .icons h4 {
    display: inline-block;
    margin-right: 8px;
  }
  
  .navbar {
    position: absolute;
    top: -100vh;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 2;
    background-color: #a00a0a;
    color: white;
  }
  
  .navbar a {
    padding: 10px 12px;
    font-weight: bold;
    -webkit-transition: .4s;
    transition: .4s;
    color: white;
    display: block;
    border-bottom: 1px solid #c8c8c8;
  }
  
  .navbar a:hover {
    background-color: #b7b701;
    color: white;
  }
  
  .navbar a:last-child {
    border-bottom: none;
  }
  
  .icons h4 {
    font-size: 1.5rem;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .icons h4:hover {
    color: #a00a0a;
  }

  .search-bar{
    flex-basis: 35%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  .search-bar input {
    padding: 5px 7px;
    border: 2px solid #a00a0a;
    width: 100%;
    font-weight: bolder;
    font-size: 1.2rem;
  }
  
  .search-bar button {
    border: none;
    background: none;
    font-size: 1.5rem;
    margin-left: 8px;
    -webkit-transition: .4s;
    transition: .4s;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    color: #a00a0a;
  }
  


@media (min-width:0px) and (max-width:799px){
  header{
    padding: 1.5em 2em;
  }
  .search-bar{
    display: none;
  }
}

  @media (min-width: 700px) {
    header {
      padding:1.3em 2em;
    }
  }
  
  @media (min-width: 800px) {
    .icons{
      display: none;
    }
    .navbar {
      position: initial;
      top: auto;
      text-align: center;
      background-color: white;
    }
    .navbar a {
      display: inline-block;
      color: black;
      margin-right: 12px;
      border-radius: 5px;
    }
    .navbar a:hover {
      background-color: #a00a0a;
    }
  }
  
@media (min-width:800px) and (max-width:1090px){
  header{
    padding: .5em;
  }
}

  
  
  
  
  
  
footer{
    width: 100%;
    background: $red;
    color: white;
    padding: 30px 15px;
    margin-top: 30px;

    .footer-inner-wrapper{
        display: flex;
        justify-content: space-evenly;

        h3{
            margin-bottom: 15px;
        }
    }

    li{
        margin: 7px 0;}

    a{
        color: rgb(230, 230 , 230);
        font-size: 1.1rem;
        transition: .4s;
        &:hover{
            color: $yellow;
        }
    }
}
.made-with-love{
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
    background: black;
    background: $yellow;
    color: black;
}












.recipe-name{
    font-family: 'Frank Ruhl Libre';
    font-weight: lighter;
}

.fa{
    font-size: 3rem;
    width: 50px;
    height: 50px;
    position: relative;
    color: green;
    padding: 5px;
}

@media (min-width:700px){
    html{
        font-size: 90%;
    }
}