.confirmation-field {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 9999999999;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  color: white;
}

.confirmation-field .inner {
  width: 70%;
  margin: auto;
}

.confirmation-field .inner h2 {
  line-height: 2rem;
}

.confirmation-field .options {
  margin: 25px 0;
}

.confirmation-field .options form {
  display: inline-block;
}

.confirmation-field .options button {
  padding: 10px 15px;
  border: none;
  margin: 0 10px;
  color: white;
  font-weight: bolder;
  border-radius: 6px;
  background-color: #a00a0a;
  -webkit-transition: .3s;
  transition: .3s;
}

.confirmation-field .options .confirm-remove-btn {
  background-color: #087408;
}

.confirmation-field .options .confirm-remove-btn:hover {
  background-color: #1c881c;
}

main {
  width: 100%;
}

.recipe-book {
  width: 100%;
  padding: 20px 10px;
}

.recipe-book h1 {
  color: #a00a0a;
  text-align: center;
}

.recipes-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recipes-wrapper .recipe {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  width: 90%;
  margin: 30px auto;
}

.recipes-wrapper .recipe h3 {
  color: #a00a0a;
  margin: 10px 0;
}

.recipes-wrapper .recipe h2 {
  font-size: 1.9rem;
  margin-bottom: 10px;
}

.recipes-wrapper .recipe h4 {
  margin-bottom: 10px;
}

.recipes-wrapper .recipe h4 span {
  color: #a00a0a;
  font-size: 1.3rem;
}

.recipes-wrapper .recipe button {
  padding: 5px;
  color: #a00a0a;
  border: 1px solid black;
  -webkit-transition: .4s;
  transition: .4s;
  font-weight: bolder;
}

.recipes-wrapper .recipe button:hover {
  background: #a00a0a;
  color: white;
}

.recipes-wrapper .recipe .recipe-img {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.recipes-wrapper .recipe .recipe-img img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .4s;
  transition: .4s;
}

.recipes-wrapper .recipe .recipe-img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (min-width: 800px) {
  .recipes-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .recipes-wrapper .recipe {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}
/*# sourceMappingURL=recipe-book.css.map */