{%extends 'home.html' %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    {%block meta%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%endblock meta%}
    <!-- custom css  -->
    {%block styles%}
    <link rel="stylesheet" href="{% static 'styles/auth.css'%}">
    {%endblock styles%}
    {%block title%}
    <title>Recipe-Expo | Login</title>
    {%endblock title%}
</head>
<body>
    {%block content%}
    <div class="login-container">
        <h1>Login</h1>
        <br>
        {%for message in messages%}
        <li style="text-align:center; color: red; list-style-type: disc;">{{message}}</li>
        {%endfor%}
        <div class="form-wrapper">
            <form action="" method="post">
                {%csrf_token%}
                <div class="field">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username">
                </div>
                <div class="field">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password">
                </div>
                <input type="submit" value="SUBMIT">
            </form>
            <div class="other-link">
                <h4>Dont Have An Account? <span><a href="{% url 'sign_up' %}">SIGN UP</a></span></h4>
            </div>
        </div>
    </div>
    {%endblock content%}
</body>
</html>